<h1>Add New Blog Post</h1>
<form method="post">
    <fieldset>
        <label for="title">Title: *</label>
        <input name="title" id="title" required />
    </fieldset>
    <fieldset>
        <label for="content">Content: *</label>
        <textarea name="content" id="content" required></textarea>
    </fieldset>
    <fieldset>
        <label for="author">Author: *</label>
        <input name="author" id="author" required value="{{user.username}}" />
    </fieldset>
    <fieldset>
        <label for="tags">Tags (comma separated): </label>
        <input name="tags" id="tags" />
    </fieldset>
    <button class="btn btn-primary offset-2">Save</button>
</form>
