<h1>{{title}} Me</h1>
<div class="container">
<p>My full name is Shridhara Pavel R U. I'm a Computer Science Student at Lakehead University. I'm on my second year and I love to code.</p>
<p>The only thing I like more than Coding is Math, Especially the math behind the universe. As of right now I'm focused on data science & Machine learning. The math behind it all is fascinating, how people apply statistics to predict future outcomes.</p>
<p>I also like to venture into game dev, simulation, and pure mathematical concepts that govern the universe. I make ml models in my free time to improve my skills and solve real world problems to make this world a better place.
    I have a strong desire to improve the world with my skills and help humanity move in the right direction. I have 3 main projects I'm working on right now.</p>

<ul class="row card-group">
    <li class="card m-4 text-center col-lg-4">
        <h2>Asset Ez</h2>
        <a href="https://github.com/kaushik-1112" style="color:black;">Partners: Kaushik A R</a>
        <p>Asset Ez is an Asset generator for game devs to improve their workflow and make their lives easier. Im unfortunately unable to talk 
            more about the project to preserve intergrity, but a more detailed description will be out after its initial release!
        </p>
    </li>
    <li class="card m-4 text-center col-lg-4">
        <h2>Crime Profiler</h2>
        <a href="https://github.com/kaushik-1112" style="color:black;">Partners: Kaushik A R</a>
        <p>This is more of an experimental project to help law enforcement flag dangerous individuals to monitor them and predict these said individuals
            future plans. As I said experimental.
        </p>
    </li>
    <li class="card m-4 text-center col-lg-4">
        <h2>Children Psych Correction</h2>
        <p>My service, a survey site, uses machine learning to predict how factors like bullying, parenting, and home environment may impact a child's future. By identifying these issues and offering solutions, we aim to support children in reaching their full potential and fostering healthier adulthood outcomes.</p>
    </li>
</ul>
</div>