<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #000000;
            color: #FFFFFF;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 10px;
        }

        header {
            text-align: center;
            padding: 30px 10px;
            background-color: #000000;
        }

        header h1 {
            font-family: 'Lora', serif;
            font-size: 32px;
            font-weight: bold;
        }

        header p {
            font-size: 16px;
            color: #FFD700;
        }

        .section {
            margin: 30px 0;
        }

        .section h2 {
            font-size: 24px;
            border-bottom: 2px solid #FFD700;
            padding-bottom: 5px;
        }

        .card {
            background-color: #1a1a1a;
            border-radius: 15px;
            padding: 15px;
            margin: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card p {
            font-size: 16px;
            margin: 0;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card-container .card {
            background-color: #1a1a1a;
            border-radius: 50%;
            padding: 5px;
            margin: 5px;
            box-shadow: none;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .card-container .card i {
            font-size: 20px;
            color: #FFD700;
        }

        .life-section {
            background-color: #111111;
            padding: 15px;
            border-radius: 15px;
        }

        .life-section img {
            max-width: 100%;
            height: auto;
            border-radius: 15px;
        }

        a {
            color: #FFD700;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        @media (max-width: 768px) {
            header h1 {
                font-size: 20px;
            }

            header p {
                font-size: 14px;
            }

            .section h2 {
                font-size: 20px;
            }

            .card p {
                font-size: 14px;
            }

            .card-container .card {
                width: 30px;
                height: 30px;
                padding: 3px;
            }

            .card-container .card i {
                font-size: 16px;
            }
        }

        /* New styles for the "Who is this guy?" section */
        .about p {
            font-size: 18px;
            line-height: 1.6;
            margin: 10px 0;
        }

        .about ul {
            list-style-type: none;
            padding: 0;
        }

        .about li {
            background-color: #1a1a1a;
            border-radius: 10px;
            padding: 10px;
            margin: 10px 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        /* New styles for the "Experience" section */
        .experience .experience-item {
            background-color: #1a1a1a;
            border-radius: 15px;
            padding: 20px;
            margin: 15px 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .experience .experience-item h3 {
            font-size: 20px;
            font-weight: bold;
        }

        .experience .experience-item h4 {
            font-size: 18px;
            color: #FFD700;
        }

        .experience .experience-item p {
            font-size: 16px;
            margin: 10px 0;
        }

        .experience .experience-item .date {
            background-color: #333333;
            color: #FFD700;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
            margin-bottom: 10px;
        }

        .experience .experience-item ul {
            list-style-type: disc;
            padding-left: 20px;
        }
    </style>
</head>

<body>

    <div class="container">
        <header>
            <h1 style="font-family: 'Lora', serif; font-family: 'Roboto', sans-serif;">Shridhara Pavel. R. U</h1>
            <ul class="row card-container">
                <li class="card m-4 text-center">
                    <a href="https://github.com/Pavelrh">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="card m-4 text-center">
                    <a href="https://www.linkedin.com/in/shridhara-pavel-rahul-uma-4248a4265/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li class="card m-4 text-center">
                    <a href="https://www.instagram.com/kozorah/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="card m-4 text-center" onclick="copyEmailToClipboard()">
                    <i class="fas fa-envelope"></i>
                </li>
                <li class="card m-4 text-center">
                    <a href="https://linktr.ee/Shridhara_Pavel">
                        <i class="fas fa-link"></i>
                    </a>
                </li>
            </ul>
            <p>AI Engineer | Entrepreneur | Innovator</p>
            <p>Explore my projects in the project library, read my blog or learn more about me, my experience & education down below! Feel free to reach out via social media links or by email from below for collaboration, recruitment, or just to chat.</p>
        </header>

        <section class="section about">
            <h2>Who is this guy?</h2>
            <p>Hey there! I'm Shridhara Pavel, a tech enthusiast working mostly on AI research papers and startups. Over the past couple of years, I've been freelancing, creating games, leading/building startups, developing websites, and training machine learning models.</p>

            <p>I run three cool startups under my holding company 41 Inc.:</p>
            <ul>
                <li>Kozot: Crafting smart devices and robotics for smart cities.</li>
                <li>Locallu: Building the world's first multi-LLM interaction x human engine for a groundbreaking approach to AGI.</li>
                <li>LegalDad: Making legal document prep super easy for everyone.</li>
            </ul>

            <p>I'm also writing a paper with a computer science professor on Self-Observing agents & Real-Time Decision Making Engines, though I can't spill all the details just yet.</p>

            <p>I love bringing my wild abstract ideas to life with Unity, Kotlin, Android Studio, and Full stack frameworks, but my true passion is in AI, Machine Learning & entrepreneurship. This has been a game-changer for my startups. My non-technical skills also include team management, public pitching in events, fund-raising, and working at hackathons, which have sharpened my communication and leadership skills.</p>

            <p>One of my proudest moments was being considered for a $25K grant by Internet Computer (ICP), which shows the impact of my work.</p>

            <p>I'm always up for new challenges and opportunities to innovate. Let's connect and create something awesome together!</p>
        </section>

        <section class="section experience">
            <h2>Experience</h2>
            <div class="experience-item">
                <div class="date">2024 - Present</div>
                <h3>Technical Team Lead</h3>
                <h4>Locallu</h4>
                <ul>
                    <li>Leading a team of developers to create a multi-LLM interaction engine.</li>
                </ul>
            </div>
            <div class="experience-item">
                <div class="date">2024 - Present</div>
                <h3>FullStack Dev</h3>
                <h4>Rahul Advocate Office</h4>
                <ul>
                    <li>Solo Developed an Angular Site for a Lawyer's Office, my roles include development, deployment, maintenance, & security.</li>
                </ul>
            </div>
            <div class="experience-item">
                <div class="date">2024</div>
                <h3>AI Engineer</h3>
                <h4>Human Worker</h4>
                <ul>
                    <li>Developing a decentralized marketplace for AI-human task delegation.</li>
                </ul>
            </div>
            <div class="experience-item">
                <div class="date">June 2024 - Present</div>
                <h3>Lead Developer</h3>
                <h4>LegalDad</h4>
                <ul>
                    <li>Building a Conversational AI assistant for Legal Drafting for Lawyers from High Court of Madras Madurai.</li>
                </ul>
            </div>
            <div class="experience-item">
                <div class="date">Jan 2019 - Present</div>
                <h3>Paralegal Assistant</h3>
                <h4>Highcourt of Madras Madurai Branch</h4>
                <ul>
                    <li>Drafted Legal Docs, Arguments and offered legal advice to clients.</li>
                </ul>
            </div>
            <div class="experience-item">
                <div class="date">Oct 2023 - Present</div>
                <h3>Crew Member</h3>
                <h4>McDonalds</h4>
                <ul>
                    <li>Offer high quality customer service to customers.</li>
                </ul>
            </div>
        </section>

        <section class="section life">
            <h2>Life</h2>
            <div class="life-section">
                <p>Sharing my journey and important milestones:</p>
                <img src="/mnt/data/image.png" alt="Image Description">
            </div>
        </section>
    </div>

    <script>
        function copyEmailToClipboard() {
            var email = "shridharapavel@email.com";
            navigator.clipboard.writeText(email).then(function () {
                alert("My email has been copied to your clipboard. Email me!");
            }, function (err) {
                console.error('Unable to copy email: ', err);
            });
        }
    </script>

</body>

</html>