@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap');

/* Custom CSS Goes Here */
body {
    font-family: 'Lora', serif;
    font-family: 'Roboto', sans-serif;
}

.navbar-dark {
    background-color: #FF90BC;
}

h1, a {
    color: #ffffff;
}

main {
    padding-top: 20px;
    background-color: #FF90BC;
    color: #ffffff;
}

body {
    background-color: #FF90BC; 
    color: #ffffff;
}

fieldset {
    margin: 5px;
}

label { 
    width: 120px;
}

.btn-primary {
    background-color: #FF90BC;
    color: #8ACDD7;
}

input {
    width: 450px;
}