<h1>Login</h1>
{{#if messages}} 
<h3 class="alert alert-danger">{{messages}}</h3>
{{/if}}
<p>Only one login exists in the db which is mine, it will stay that way because its a personal portfolio and only I should be able to add projects here!</p>
<form method="post" action="/auth/login">
    <fieldset class="form-group">
        <label for="username" class="col-2 control-label">Username: *</label>
        <input name="username" id="username" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="password" class="col-2 control-label">Password: *</label>
        <input name="password" id="password" type="password" required />
    </fieldset>
    <fieldset class="form-group">
        <button class="btn btn-secondary offset-2">Login</button>
    </fieldset>
</form>